data/

.env

secrets/

**/__pycache__/

*.pyc

*.pkl

*.pt

*.txt
plan/

notebooks/*

*.ipynb

.claude/

modules/models/.models/*

Clinical-Note-Extraction/

modules/extend/statedict/*

.gitnexus
*.vscode 
Note/

AGENTS.md
CLAUDE.md

Report/